{% extends "sprout-module-core/_layouts/settings" %}

{% import "_includes/forms" as forms %}
{% import "sprout-module-fields/_macros/forms" as sproutFields %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{% set currentSubNavKey = 'form-defaults' %}
{% set module = sprout.modules.forms %}
{% set settings = module.getSettings() %}

{% block settings %}

    {{ forms.selectField({
        label: "Default Sidebar Tab"|t('sprout-module-forms'),
        instructions: "The form section that will be selected by default in the sidebar navigation."|t('sprout-module-forms'),
        name: 'defaultSidebarTab',
        options: [
            {
                label: 'Submissions'|t('sprout-module-forms'),
                value: 'submissions'
            },
            {
                label: 'Forms'|t('sprout-module-forms'),
                value: 'forms'
            }
        ],
        value: settings.defaultSidebarTab ?? 'forms',
        warning: sproutConfigWarning(module, 'enableSaveData'),
    }) }}

    {{ forms.editableTableField({
        label: "Form Metadata"|t('sprout-module-forms'),
        instructions: "The form metadata that will be captured on every form submission."|t('sprout-module-forms'),
        tip: "Use Twig Shortcut Syntax to capture any Form Metadata Variables defined in your form templates."|t('sprout-module-forms'),
        id: 'formMetadata',
        name: 'formMetadata',
        cols: {
            label: {
                type: 'singleline',
                heading: "Label"|t('sprout-module-forms'),
                info: 'Short, user-friendly label of the metadatum to be captured.',
            },
            metadatumFormat: {
                type: 'singleline',
                heading: "Metadatum Format"|t('sprout-module-forms'),
                info: 'Twig shortcut syntax that will be used to parse the metadatum into its captured value.',
                class: 'code',
            },
        }|filter,
        rows: settings.formMetadata,
        fullWidth: true,
        allowAdd: true,
        allowReorder: true,
        allowDelete: true,
        errors: settings.getErrors('formMetadata'),
    }) }}

    {% if not settings.formMetadata|length %}
        <div class="readable">
            <blockquote class="tip note">
                <p>{{ "Some common form metadata types:" }}</p>

                <ul>
                    <li>{{ 'IP Address'|t('sprout-module-forms') }} <code>{% verbatim %}{craft.app.request.getRemoteIP}{% endverbatim %}</code></li>
                    <li>{{ 'Referrer URL'|t('sprout-module-forms') }} <code>{% verbatim %}{craft.app.request.getReferrer}{% endverbatim %}</code></li>
                    <li>{{ 'User Agent'|t('sprout-module-forms') }} <code>{% verbatim %}{craft.app.request.getUserAgent}{% endverbatim %}</code></li>
                    <li>{{ 'UTM Source Parameter'|t('sprout-module-forms') }} <code>{% verbatim %}{craft.app.request.getParam("utm_source")}{% endverbatim %}</code></li>
                    <li>{{ 'UTM Medium Parameter'|t('sprout-module-forms') }} <code>{% verbatim %}{craft.app.request.getParam("utm_medium")}{% endverbatim %}</code></li>
                    <li>{{ 'UTM Campaign Parameter'|t('sprout-module-forms') }} <code>{% verbatim %}{craft.app.request.getParam("utm_campaign")}{% endverbatim %}</code></li>
                </ul>
            </blockquote>
        </div>
    {% endif %}

{% endblock %}